
/* Fonts style */
@font-face {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 300; /* Light font */
    font-display: swap;
    src: url('../fonts/FuturaPT-Light.woff2') format('woff2'), 
    url('../fonts/FuturaPT-Light.woff') format('woff');
}

@font-face {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400; /* Normal font */
    font-display: swap;
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2'), 
    url('../fonts/FuturaPT-Book.woff') format('woff');
}

@font-face {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 500; /* Medium font */
    font-display: swap;
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'), 
    url('../fonts/FuturaPT-Medium.woff') format('woff');
}

@font-face {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 700; /* Bold font */
    font-display: swap;
    src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'), 
    url('../fonts/FuturaPT-Bold.woff') format('woff');
}






