$main-color: #333333;
$secondary-color: #949494;
$third-color: #FFF;
$fourth-color: #3D9CEA;
$fifty-color: #FFBD54;

:root {
    --main-color: $main-color;
    --secondary-color: $secondary-color;
    --third-color: $third-color;
    --fourth-color: $fourth-color;
    --fifty-color: $fifty-color;
}
